.button {
  height: 30px;

  cursor: pointer;
  transition: border-color .3s ease;

  border: 1px solid #839496;
  border-radius: 3px;
  outline: none;
  background-color: transparent;

  font-size: 15px;
  line-height: 15px;
}
.button:hover {
  border-color: #657b83;
}

.button__lable {
  padding: 0 15px;

  color: #586e75;
}

.button_width_long {
  min-width: 180px;
}
