mixin page(name)
  doctype html
  html(lang='en')
    head
      meta(charset='UTF-8')
      title Meepo
      link(rel='stylesheet', href='css/' + name + '.css')
      //- meta(name='viewport', content='ya-title=#00222b,ya-dock=#00222b')
    body.theme_dark
      +theme
      block
