mixin b-profile
  .b-profile
    .b-profile__edit
      h1 Account data
      form(action='/profile/edit/user', method='post')
        if (error && error.user)
          span.error #{error.user}
        +input('text', 'Display name:', 'displayName', user, true)
        +input('text', 'Email:', 'email', email, true)
        +input-placeholder()
          +button('Save', false)

    .b-profile__edit
      h1 Change password
      form(action='/profile/edit/pass', method='post')
        if (error && error.pass)
          span.error #{error.pass}
        +input-placeholder('password', 'Old password', 'password')
        +input-placeholder('password', 'New password', 'newPass')
        +input-placeholder('password', 'Confirm new password', 'confirmPass')
        +input-placeholder()
          +button('Change', false)

    .b-profile__social
      h1 Social authentication
      ul.edit__social
        li
          if (githubId)
            span.social__name.hint(data-hint='') GitHub
              .social__icon.social__icon_added
          else
            a.social__name(href='/profile/github') GitHub
              .social__icon.social__icon_add
