mixin profile
  .profile
    .profile__edit
      h1 Account data
      form(action='/profile/edit/user', method='post')
        .form__input
          if (error && error.user)
            p.form__error #{error.user}
          label(for='displayName') Display name:
          input(type='text', name='displayName', placeholder='Display name', value=user)
        .form__input
          label(for='email') Email:
          input(type='text', name='email', placeholder='Email', value=email)
        .form__input
          +button('Save', false)
    .profile__edit
      h1 Change password
      form(action='/profile/edit/pass', method='post')
        .form__input
          if (error && error.pass)
            p.form__error #{error.pass}
          input(type='password', name='oldPass', placeholder='Old password')
        .form__input
          input(type='password', name='newPass', placeholder='New password')
        .form__input
          input(type='password', name='confirmPass', placeholder='Confirm new password')
        .form__input
          +button('Change', false)
    .profile__edit
      h1 Social authentication
      ul.edit__social
        li
          if (githubId)
            span GitHub &#10004
          else
            a(href='/profile/github') GitHub
        li
          a(href='#') Google
