mixin b-profile
  .b-profile
    .b-profile__edit
      h1 Account data
      form(action='/profile/edit/user', method='post')
        if (error && error.user)
          span.error #{error.user}
        +input('text', 'Display name:', 'displayName', 'Display name', user, true)
        +input('text', 'Email:', 'email', 'Email', email, true)
        +input('', '', '', '', '', true)
          +button('Save', false)

    .b-profile__edit
      h1 Change password
      form(action='/profile/edit/pass', method='post')
        if (error && error.pass)
          span.error #{error.pass}
        +input('password', '', 'password', 'Old password', '', true)
        +input('password', '', 'newPass', 'New password', '', true)
        +input('password', '', 'confirmPass', 'Confirm new password', '', true)
        +input('', '', '', '', '', true)
          +button('Change', false)

    .b-profile__social
      h1 Social authentication
      ul.edit__social
        li
          if (githubId)
            span.social__name GitHub
            .social__icon_added
          else
            a(href='/profile/github') GitHub
