doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Meepo
    link(rel='stylesheet', href='css/profile.css')
  body.theme_dark
    +head
    .splitview
      .splitview__panel.splitview__panel_project
        +profile
      if (projects.length)
        .splitview__panel.splitview__panel_project
          +myProject
      else
        .splitview__panel.splitview__panel_project
          +newProject
    +statusbar(true)

    script(src='js/profile.js')
