+page('profile')
  +head

  .splitview
    .splitview__panel.splitview__panel_project
      +b-profile

    .splitview__panel.splitview__panel_project
      if (projects.length)
        +project__list
      else
        +project__new

  +statusbar(true)

  script(src='js/profile.js')
