mixin head(signupVisible, signinVisible)
  .head
    .head_left
      .head__title Meepo
      if (user)
        .head__menu
          a(href='/projects') Projects
          a(href='/profile') Profile
    .head_right
      if (user)
        img.head__user.user__avatar(src='http://www.gravatar.com/avatar/' + gravatar + '?s=30&d=blank')
        .head__user.user__name #{user}
        a.head__user.user__logout(href='/logout') Log Out
      else
        a.head__user.user__signup(href='/signup' class=signupVisible ? 'head__visible_visible' : 'head__visible_hidden') Sign Up
        a.head__user.user__signin(href='/' class=signinVisible ? 'head__visible_visible' : 'head__visible_hidden') Log In
