.head {
  position: relative;

  display: flex;

  height: 40px;

  text-align: right;

  color: #4c6a72;
  background-color: #fbeecb;
  box-shadow: 0 -2px 0 0 #657b83 inset;

  font-size: .8em;
  line-height: 40px;

  align-items: stretch;
  flex-shrink: 0;
  justify-content: space-between;
}

.theme_dark .head {
  color: #4c6a72;
  background-color: #00222b;
}

.head__visible_hidden {
  display: none!important;
  visibility: hidden;
}

.head__visible_visible {
  visibility: visible;
}
