.setting__panel {
  position: absolute;

  overflow: auto;

  width: 100%;
  height: calc(100% - 40px);
}

.setting__panel p {
  margin: 0;
  padding: 9px 7px 3px 16px;

  font-size: 13px;
  line-height: 13px;
}

.setting__checkbox,
.setting__select {
  float: right;

  cursor: pointer;
}
