+page('index')
  +head(true, true)

  .splitview
    .splitview__panel.splitview__panel_editor
      +editor
    .splitview__panel.splitview__panel_right
      .tabs
        +tab('Online:', true)
          +user-list
        if (user)
          +tab('Chat:', true)
            +chat

  +statusbar

  script(src='/channel/bcsocket.js')
  script(src='js/index.js')
