mixin dropdown__lang
  .dropdown__lang_menu
    ul
      li
        a.lang_menu__lang_change(href="#", data-label="javascript") JavaScript
      li
        a.lang_menu__lang_change(href="#", data-label="coffee") CoffeeScript
      li
        a.lang_menu__lang_change(href="#", data-label="css") CSS
      li
        a.lang_menu__lang_change(href="#", data-label="less") LESS
      li
        a.lang_menu__lang_change(href="#", data-label="html") HTML
    ul
      li
        a.lang_menu__lang_change(href="#", data-label="pascal") Pascal
      li
        a.lang_menu__lang_change(href="#", data-label="python") Puthon
      li
        a.lang_menu__lang_change(href="#", data-label="ruby") Ruby
      li
        a.lang_menu__lang_change(href="#", data-label="php") PHP
    ul
      li
        a.lang_menu__lang_change(href="#", data-label="markdown") Markdown
      li
        a.lang_menu__lang_change(href="#", data-label="plain_text") Plain Text
