doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Meepo
    link(rel='stylesheet', href='css/signin.css')
  body.theme_dark
    +head(true, false)
    +form('/auth/local', 'Sign in')
      .form__input
        if (error)
          p.form__error #{error}
        label Email:
        input(type='text', name='email')
      .form__input
        label Password:
        input(type='password', name='password')
      .form__auth
        a(href='/auth/github') GitHub
    +statusbar(true)

    script(src='js/signin.js')
