doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Meepo
    link(rel='stylesheet', href='css/signin.css')
  body.theme_dark
    +head(true, false)
    +form('/local-auth', 'Sign in')
      div.form__input
        p.form__error #{error}
        label Email:
        input(type='text', name='email')
      div.form__input
        label Password:
        input(type='password', name='password')
    +statusbar(true)

    script(src='js/signin.js')
