+page('signin')
  +head(true, false)

  +popup
    h1.popup__title Sign in
    form(action='/auth/local', method='post')
      if (error)
        span.error #{error}
      +input('text', 'Email', 'email')
      +input('password', 'Password', 'password')
      +input()
        a(href='/auth/github') Log in with GitHub
      +input()
        +button('Sign in')

  +statusbar(true)

  script(src='js/signin.js')
