doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Meepo
    link(rel='stylesheet', href='css/projects.css')
  body.theme_dark
    +head
    .splitview
      if (projects.length)
        .splitview__panel.splitview__panel_project
          +myProject
      .splitview__panel.splitview__panel_project
        +newProject
    +statusbar(true)

    script(src='js/projects.js')
