+page('projects')
  +head

  .splitview
    if (projects.length)
      .splitview__panel.splitview__panel_project
        +project__list
    .splitview__panel.splitview__panel_project
      +project__new

  +statusbar(true)

  script(src='js/projects.js')
