.projects__list {
  overflow: auto;

  height: inherit;
  margin: 0;
  padding: 10px 0;

  list-style: none;
}

.project__description {
  margin-top: 6px;
  margin-bottom: 18px;
}

.project__name {
  font-weight: bold;
  line-height: 20px;
}

.project__remove,
.project__restore {
  display: inline;
  float: right;
}

.project__lang {
  float: right;

  line-height: 21px;
}

.project__remove .icon {
  width: 17px;
  height: 20px;
  margin-left: 4px;

  transition: opacity .3s ease;

  background-image: url(/img/project__remove.svg);
  background-size: cover;
}

.project__remove .icon:hover {
  opacity: .75;
}
