+page('signup')
  +head(false, true)

  +popup
    h1.popup__title Sign up
    form(action='/local-register', method='post')
      if (error)
        span.error #{error}
      +input('text', 'Email', 'email')
      +input('password', 'Password', 'password')
      +input('checkbox', 'show password', 'showpassword', '', '', false, 'hint')
      +input()
        +button('Sign up')

  +statusbar(true)

  script(src='js/signup.js')
